* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.border {
  border: black solid 2px;
}

.animaciones:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

body {
      grid-template-areas: "header" "navegacion" "principal" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 2fr 1fr 4fr 1fr;
      grid-template-rows: 2fr 1fr 4fr 1fr;
  background-color: white;
}

/*operaciones*/
.principal section div img {
  height: 200px;
  width: 200px;
}

/*condicioneales*/
footer {
  background-color: #3a0404;
}

header {
  color: white;
  background-color: #302c2c;
}

/*bucle*/
.ejemplo_1 {
  color: black;
  background-color: #6e6a80;
  text-align: center;
  font-size: 10px;
}

.ejemplo_2 {
  color: black;
  background-color: #6e6a80;
  text-align: center;
  font-size: 20px;
}

.ejemplo_3 {
  color: black;
  background-color: #6e6a80;
  text-align: center;
  font-size: 30px;
}

.ejemplo_4 {
  color: black;
  background-color: #6e6a80;
  text-align: center;
  font-size: 40px;
}

/*lista*/
.naturaleza1-img {
  background-image: url("../assets/img/naturaleza1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin: 30px;
  border-radius: 5px;
  border: solid #835315 5px;
}

.naturaleza2-img {
  background-image: url("../assets/img/naturaleza2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin: 30px;
  border-radius: 5px;
  border: solid #835315 5px;
}

.naturaleza3-img {
  background-image: url("../assets/img/naturaleza3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin: 30px;
  border-radius: 5px;
  border: solid #835315 5px;
}

.ejemploLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* mapa*/
.btn--boton1 {
  background-color: violet;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.btn--boton2 {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.btn--boton3 {
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.ejemploMapa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*extend*/
.ejemploExtend, .ejemploExtend--div1, .ejemploExtend--div2, .ejemploExtend--div3 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 30px;
  margin: 20px;
}

.ejemploExtend--div1:hover {
  -webkit-transform: scale(1.5) translateX(200px) rotate(90deg);
          transform: scale(1.5) translateX(200px) rotate(90deg);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.ejemploExtend--div2 {
  background-color: red;
}

.ejemploExtend--div2:hover {
  -webkit-transform: scale(1.9) translateX(200px) rotateY(90deg);
          transform: scale(1.9) translateX(200px) rotateY(90deg);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.ejemploExtend--div3:hover {
  -webkit-transform: scale(1.9) translateX(200px) rotatex(90deg);
          transform: scale(1.9) translateX(200px) rotatex(90deg);
  -webkit-transition: all 2s;
  transition: all 2s;
}

/*mixins*/
.ejemploMixins {
  height: 200px;
  width: 200px;
  background-color: red;
}

header {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  font-size: 30px;
}

header h2 {
  font-size: 20px;
  height: 200px;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

nav ul {
  width: 100%;
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.inicio {
  font-size: 25px;
}

.color {
  color: white;
}

.principal h2 {
  margin: 100px;
  font-size: 30px;
  text-align: center;
}

.principal .imagenesP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principal .imagenesP div p {
  font-size: 16px;
  width: 300px;
  height: auto;
  margin: 30px;
}

.principal .imagenesP div img {
  margin: 30px;
}

.principal h3 {
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

.principal h3 input {
  margin-top: 20px;
  border-radius: 10px/10px;
  color: black;
  font-size: 17px;
  font-weight: bolder;
}

.principal h3 input:hover {
  background-color: #755d28;
}

.seccionMantenimiento {
  text-align: center;
}

.seccionMantenimiento h1 {
  color: black;
  padding: 40px;
}

.seccionMantenimiento div h2 {
  text-align: start;
  margin: 20px;
  color: black;
}

.seccionMantenimiento div p {
  color: black;
  font-size: 25px;
  text-align: start;
  margin: 30px;
  font-weight: 350;
}

.seccionMantenimiento div img {
  height: 40%;
  width: 40%;
}

.subir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 98%;
  position: fixed;
  bottom: 20px;
}

.preguntasFrecuentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preguntasFrecuentes p {
  width: 600px;
  border-radius: 20px/10px;
  border: 10px white solid;
  margin: 25px;
  background-color: burlywood;
  color: #2c0303;
  font-size: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: white;
  margin-top: 100px;
}

footer h3 {
  font-size: 25px;
}

footer figure {
  margin-top: 25px;
  height: 50px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #755d28;
}
/*# sourceMappingURL=style.css.map */