@media(min-width:480px){
body{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto 1fr;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}
}


.animaciones{
    &:hover{
        background-color:rgb(133, 133, 238);
        transform: scale(1.1);
        transition: all 1s;
    }
}

.border{
    border: 10px double rgb(0, 0, 0);
    background-color: rgb(9, 10, 82);
}