
/* header smartphone*/
@media(min-width:480px){
  header{
    display: flex;
    height: 120px;
    background-color: darkslategray;
    color:white;
    h1{
      width: 100%;
     font-size: 20px;
     margin-top:65px;
     text-align: center;
    }
    img{
     height: 80px;
     width: 80px;
     margin-left: 5px;
    }
  }
}

/* header tablet*/
@media(min-width:768px){
  header{
    background-color: darkslategray;
    color: antiquewhite;
    h1{
     font-size: 23px;
    }
     img{
      height: 95px;
     width: 95px;
    }
  }
}

/*header desktop*/
@media(min-width:1024px){
  header{
    background-color: rgb(143, 116, 77);
    color: black;
    h1{
      margin-top: 50px;
     font-size: 30px;
    }
    img{
     height: 100px;
     width: 100px;
    }
  }
}