
/* header smartphone*/
@media(min-width:480px){
  header{
    height: 100px;
    background-color: rgb(73, 182, 182);
    color:$color;
    h1{
      text-align: center;
     font-size: 20px;
     margin-top: 15px;
    }
    h2{
      font-size: 10px;
      padding-left: 50px;
      padding-top: 20px;
    }
  }
}

/* header tablet*/
@media(min-width:768px){
  header{
    background-color: darkslategray;
    color: antiquewhite;
    h1{
     font-size: 20px;
     margin-top: 20px;
    }
    h2{
      font-size: 12px;
    }
  }
}

/*header desktop*/
@media(min-width:1024px){
  header{
    background-color: rgb(21, 29, 29);
    h1{
     font-size: 25px;
     margin-top: 5px;
    }
    h2{
      font-size: 15px;
    }
  }
}