/* smartphone*/
@media(min-width:480px){
    .principal{
        color:$color;
        .imagenesP{
            .imgPrincipales{
                gap: 20px;
                justify-content: center;
                margin: 100px;
                img{
                    height: 150px;
                    width: 150px;
                    
                }
                p{
                    font-size: 12px;
                }
            }
            .imgPrincipales1{
                gap: 20px;
                justify-content: center;
                margin: 100px;
                
                 img{
                    height: 150px;
                    width: 150px;
                 }

                p{
                    font-size: 13px;
                }
            }
            .imgPrincipales2{
                gap: 20px;
                justify-content: center;
                margin: 100px;
                img{
                    height: 150px;
                    width: 150px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
        .objetivo{
            border-radius: 5px;
            background-color: rgb(142, 172, 172);
            margin-bottom: 100px;
            h2{
                text-align: center;
                font-size: 18px;
                padding: 10px; 
            }
            p{
                text-align: center;
                font-size: 16px;
                padding-bottom: 15px;
                font-weight:600;
            }
        }
        .video{
            color: $color;
            text-align: center;
            .guia{
                width: 400px;
               height: 400px; 
            }
            p{
                font-size: 15px;
                margin-top: 40px;
                font-weight: 500;
            }
                        p{
                font-size: 15px;
                margin-top: 40px;
                font-weight: 500;
            }
             .videoHistoria{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                 padding-bottom: 80px;
                 iframe{
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }
}


/*tablet*/
@media(min-width:768px){
    .principal{
        background-color: white;
        .imagenesP{
            .imgPrincipales{
                display: flex;
                gap: 30px;
                img{
                    height: 200px;
                    width: 200px; 
                }
                p{
                    padding-top: 40px;
                    font-size: 15px;
                }
            }
            .imgPrincipales1{
                display: flex;
                gap: 30px;
                flex-direction: row-reverse;
                
                 img{
                    height: 200px;
                    width: 200px;
                 }

                p{
                    padding-top: 40px;
                    font-size: 15px;
                }
            }
            .imgPrincipales2{
                display: flex;
                gap: 30px;
                img{
                    height: 200px;
                    width: 250px;
                }
                p{
                    padding-top: 40px;
                    font-size: 15px;
                }
            }
        }
        .video{
            .guia{
                width: 600px;
               height: 400px; 
            }
             .videoHistoria{
                 iframe{
                    width: 550px;
                    height: 400px;
                }
            }
        }
    }
}

/*desktop*/
@media(min-width:1024px){
    .principal{
        .imagenesP{
            display: flex;
            align-items: center;
            .imgPrincipales{
                flex-direction: column;
                img{
                   height: 150px;
                   width: 150px;
                }
                p{
                    padding-top: 40px;
                    font-size: 15px;
                }
            }
            .imgPrincipales1{
                flex-direction: column;               
                 img{
                    height: 150px;
                   width: 150px;
                 }
                 p{
                    padding-top: 40px;
                    font-size: 15px;
                }
            }
            .imgPrincipales2{
                flex-direction: column;
                img{
                    height: 150px;
                   width: 150px;
                }
                p{
                    padding-top: 40px;
                }
            }
        }
        .video{
            display: flex;
            justify-content: space-around;
            .guia{
                width: 400px;
               height: 400px; 
            }
             .videoHistoria{
                flex-direction: column;
                 iframe{
                    width: 400px;
                    height: 370px;
                }
            }
        }
    }
}